body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(46, 46, 46);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-container {
  width: 900px;
  margin: 0 auto;
  color: white;
}

.about-container a {
  color:rgb(182, 182, 182);
  text-decoration: none;
}

.about-container a:hover {
  color: white;
}

.nav-container {
  /* background-color: rgb(160, 160, 160); */
  /* position: fixed; */
  margin-top: 50px;
  width: 100%;
}

.nav-box {
  min-height: 80px;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

.nav-left, .nav-right {
  min-height: 40px;
  align-items: center;
  display: flex;
  box-sizing: inherit;
}

.nav-right img {
  width: 50px;
  margin-left: 20px;
  filter: brightness(0%);
}

.nav-right img:hover {
  width: 55px;
}

.nav-items {
  position: relative;
}

.nav-items ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-items a {
  text-decoration: none;
  font-size: 25px;
}

.nav-items li {
  padding: 0 26px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

li a:hover {
  color: rgb(201, 83, 5);

}

.header-container {
  width: 1400px;
  /* background-image: url(img/technology-background-header-1120x389.png); */
  height: 400px;
  margin: 0 auto;
  color: rgb(233, 233, 233);
  margin-top: 80px;
  display: flex;
  justify-content: center;
  line-height: 1px;
}

.header-words {
  width: 800px;
}

.header-words h3 {
  font-size: 50px;
}

.header-words span {
  color: rgb(201, 83, 5);
}

.header-words a {
  font-size: 30px;
}

.main {
  padding-top: 50px;
}

.card-text {
  align-items: right;
  align-content: right;
  padding-left: 60px;
  width: 500px;
}

.card-title, .tech-used {
  color: rgb(201, 83, 5);
}

.card-body {
  color: white;
}

.project-container {
  width: 1200px;
  margin: 0 auto;
}

.project-card {
  width: 900px;
  background-color: rgb(27, 27, 27);
  display: flex;
  margin-top: 20px;
}

.project-card a {
  text-decoration: none;
}

.project-thumbnail img {
  width: 250px;
  height: 250px;
  background-size: cover;
}
